<ion-view title="Tell us about yourself" id="page12">
  <ion-content padding="true" class="has-header" scroll="false">
    <form id="tellUsAboutYourself-form9" class="list">
      <div class="list">
        <label class="item item-input item-stacked-label">
          <span class="input-label">First name</span>
          <input type="text" placeholder="john@suhr.com">
        </label>

        <label class="item item-input item-stacked-label">
          <span class="input-label">Last name</span>
          <input type="text" placeholder="john@suhr.com">
        </label>

        <label class="item item-input item-stacked-label">
          <span class="input-label">Date of birth</span>
          <input type="date" placeholder="john@suhr.com">
        </label>

        <label class="item item-input item-stacked-label">
          <span class="input-label">Phone</span>
          <input type="number" placeholder="john@suhr.com">
        </label>

        <label class="item item-input item-stacked-label">
          <span class="input-label">Postal code</span>
          <input type="number" placeholder="john@suhr.com">
        </label>

        <label class="item item-input item-stacked-label">
          <span class="input-label">Email</span>
          <input type="text" placeholder="john@suhr.com">
        </label>

      </div>
      <button id="tellUsAboutYourself-button35" class="button button-balanced  button-block">Next</button>


    </form>
  </ion-content>
</ion-view>
