<ion-tabs class="tabs-icon-top tabs-positive tabs-top">

  <ion-tab badge="totalRecommendedCount" badge-style="badge-assertive" title="Recommended" icon="ion-ios-heart" ui-sref="app.tabs.tab1">
<ion-nav-view name="tab-tab1"></ion-nav-view>

  </ion-tab>

  <ion-tab badge="totalAppliedCount" badge-style="badge-assertive" title="Applied" icon="ion-checkmark-circled" ui-sref="app.tabs.tab2">
    <ion-nav-view name="tab-tab2"></ion-nav-view>

  </ion-tab>

  <ion-tab title="Profile" icon="ion-person" ui-sref="app.tabs.tab3">
    <ion-nav-view name="tab-tab3"></ion-nav-view>

  </ion-tab>

</ion-tabs>
