<ion-view>

  <ion-header-bar align-title="center" class="bar-positive">
    <a class="button icon-left ion-chevron-left button-clear"  ui-sref="app.tabs.tab1">Back</a>
    <!--<button class="button" ng-click="doSomething()">Close</button>-->
    <h1 class="title">Refer and Earn</h1>

  </ion-header-bar>
  <ion-content>

    <div class="list">
      <div class="item item-icon-right"  ui-sref="settings.password">
        <i class="icon ion-chevron-right"></i>
        Change Password
      </div>
      <div class="item item-icon-right" ui-sref="settings.aboutUs">
        <i class="icon ion-chevron-right"></i>
        About Us
      </div>
      <div class="item item-icon-right" ui-sref="settings.terms">
        <i class="icon ion-chevron-right"></i>
        Term and Condition
      </div>
      <div class="item item-icon-right" ui-sref="settings.policy">
        <i class="icon ion-chevron-right"></i>
        Privacy Policy
      </div>
      <div class="item item-icon-right" ui-sref="settings.faq">
        <i class="icon ion-chevron-right"></i>
        FAQ
      </div>
    </div>
  </ion-content>
</ion-view>
