<ion-view>
  <ion-header-bar align-title="center" class="bar-positive">
    <a class="button icon-left ion-chevron-left button-clear"  ui-sref="settings.main">Back</a>
    <h1 class="title">About Us</h1>

  </ion-header-bar>


  <ion-content >

    <section class="card">
      <div class="row">
        <div class="col">

          <div class="row">
            <div class="col text-center ">
              <span >We help people find their suitable and <span >likeable jobs, effortlessly</span> & <span >quickly</span>. In doing so we help companies find best talent for different jobs.</span>
            </div>
          </div>

        </div>
      </div>
      <div class="row">

        <div class="col">
          <p class="justifying">At N&N, we believe that people are the core pillars of the foundation for welfare, development and growth. We the people are at our best when we have suitable and likable jobs. Finding a suitable and likable job is getting more and more difficult, especially with the level of specialization, diversification and globalization. </p>
          <p class="justifying">Having the first hand experience of hiring, mentoring and managing teams for global organisations over last several years we have experienced change in the trends – increase in demand as employers for niche candidates and increasing difficulty as candidates to make the right choice. </p>
          <p class="justifying">It is our humble effort to develop a unique hiring marketplace, leveraging advanced technologies, highly talented team and efficient processes to make the match making between the candidates and jobs.</p>
          <p class="justifying">Candidates receive objective guidance both on technical and personal front throughout the interview process from our experts, in addition to facilitating the interview and onboarding process. Employees get access to hand-picked candidates interested in new jobs, with assistance during the interview in new jobs, with assistance during the interview and onboarding process.</p>
          <p class="justifying">This should result in an enjoyable, agile and sustainable experience for candidates and the employers.</p>
          <br><br>
        </div>

      </div>
    </section>


  </ion-content>
</ion-view>

