<ion-view>
  <ion-header-bar align-title="center" class="bar-positive">
    <a class="button icon-left ion-chevron-left button-clear"  ui-sref="settings.main">Back</a>
    <!--<button class="button" ng-click="doSomething()">Close</button>-->
    <h1 class="title">Terms and condition</h1>

  </ion-header-bar>


  <ion-content >

    <!--<div class="row">
      <div class="col-xs-12">
        <img src="\modules\core\client\img\termsbanner.jpg" class="img-responsive"/>
      </div>
    </div>-->
    <div class="card">

      <div class="row">

        <div class="col">
          <h2>1. Introduction</h2>

          <p>
            This Terms of Service ("Agreement") is between Spectrus Staffing Solutions Pvt. Ltd ("Company"), a
            company registered under the Laws of India, the owner and operator of NicheNimble.com (the "Site"),
            services offered by the Company (collectively the "Service"), and you.
          </p>

          <p>
            By accessing or using this Site or Service in any way, you provide your consent that –
          </p>
          <ul>
            <li>
              You have read, understood and agree to be bound by this Agreement.

            </li>
            <li>
              You are of legal age to form a binding this Agreement with us.
            </li>
            <li>

              If you are representing a company, you have the authority to enter into this Agreement on behalf
              of that company, and you bind that company to this Agreement with us.
            </li>
          </ul>
          <p>If you do not agree to be bound by this Agreement, you should not access or use the Site or the
            Service.</p>

          <div>
            <p>
            <h4> Quick Summary</h4>
            </p>
            <ul>
              <li>
                Candidates may look for permanent or temporary employment opportunities through use of our Site
                and Service.
              </li>
              <li>
                Employers may hire Candidates for permanent or temporary employment through use of our Site and
                Service.

              </li>
              <li>
                For all temporary employment, Tekskills is our Contract Partner.
              </li>
              <li>
                Upon successful permanent employment, Employers are charged one-time fee of 12.5% of the
                Candidate's annual gross salary.
              </li>
              <li>
                Upon successful temporary employment, Employers are charged fee of 20% - 25% of the Candidate's
                monthly gross salary for the duration of the term of contract, based on the term of the
                engagement committed initially.
              </li>
              <li>
                Upon successfully securing a job with an Employer, we pay a signing fee to the Candidate of up
                to Indian Rupees 50,000.
              </li>
              <li>
                Both Candidates and Employers are required to notify us upon successful employment.
              </li>
              <li>
                Children under 16 years old are not allowed to use our Site or Service.
              </li>
              <li>
                All information that you post on our Site must be true and accurate to the best of your
                knowledge, and not in breach of any copyright laws.
              </li>
              <li>This Agreement is used in conjunction with our Privacy Policy. Further, this Agreement is
                subject to change by the Company at its sole discretion any time.
              </li>

            </ul>
          </div>
          <div>
            <p>
            <h4> Throughout the Agreement – </h4>
            </p>
            <ul>
              <li>
                The words “Company”, “us”, “Us”, “we”, “We”, “our” and “Our” refer to our Company, Spectrus
                Staffing Solutions Pvt. Ltd, our Site or our Service, as is appropriate in the context of the
                use of the words.
              </li>
              <li>The term “Candidate” will refer to users of our Service who are seeking employment opportunities
                through us.
              </li>
              <li>The term “Employer” will refer to a company that is interested in hiring Candidate through the
                use of our Service.
              </li>
              <li>The term “Contract Partner” will refer to the Company who provides contracting services through
                our affiliate.
              </li>
              <li>The term “User”, “user”, “You” and “you” refers to the individual or legal entity, as
                applicable, identified as the user when you visit our Site or register on the Site.
              </li>
              <li> The term “Hiring”, “Hired”, “Employment”, “Employed” refers to Permanent Hiring or Temporary
                Hiring (Contracting, Freelancing, Contract to Hire) by the Employer.
              </li>
              <li> The term “Content” refers to any information that you view, access, post, transmit or submit
                through our Site or Service. This includes, and not limited to photos, resumes, projects and
                other Service related information.

              </li>

            </ul>
          </div>
          <p>Please note that this Agreement is subject to change by the Company in its sole discretion at any time.
            When changes are made, we will make a new copy of the Agreement available at the Site. Any changes to
            the Agreement will be effective immediately for existing and new Users of the Site or Service.
            Please check the Site regularly to view the latest Agreement.</p>

        </div>
      </div>
      <div class="row">
        <div class="col">
          <h2>2.Common Terms for All Users</h2>

          <div>
            <p>
            <h4>2.1 Your responsibilities</h4>
            </p>
            <p>You are responsible for your use of the Site and Service. When using our Site or Service you should
              act reasonably and responsibly. </p>

            <p>When using our Site or Service -</p>

            <div>
              <p>
              <h5> 1.You will not upload or post any Content to our Site –</h5>
              </p>
              <ul>
                <li>That includes any third party intellectual property unless you have permission from the
                  owner to use it.
                </li>
                <li>That is invalid data, contains viruses, worms or other software agents through the Service.
                </li>
                <li>That is false, inaccurate, misleading, unlawful, defamatory, obscene, invasive, threatening,
                  harassing, inflammatory, fraudulent Content about any company or individual.
                </li>
              </ul>
              <p>
              <h5>2.For the Content you have access to on our Site,</h5>
              </p>
              <ul>
                <li>You will not copy, collect, post, distribute or disclose the Content in any medium.
                </li>
                <li>You will use the Content in accordance with applicable privacy or data protection laws.
                </li>
                <li>You will take appropriate measures to protect the Content from loss, misuse, unauthorized
                  access, disclosure, alteration or destruction.
                </li>
                <li>You will not use Content for any derivative work with a commercial motive without prior
                  written consent from us.
                </li>
              </ul>
              <p>
              <h5>3.You will provide and maintain with regular updates true, accurate, current, and complete
                information about yourself as prompted by the Site or Services. You are responsible for all
                activities that occur under your account.</h5>
              </p>
              <p>
              <h5>4.You will not use or access our Site - </h5>
              </p>
              <ul>
                <li>By any automated system.
                </li>
                <li>To interfere with and compromise the system performance, integrity or security.
                </li>
                <li>To hack, spam or phish us or other Users.</li>
              </ul>
              <p>
              <h5>5.With regards to the applicable laws (including Information Technology Act 2000), rules,
                regulations, guidelines, bye laws and notifications – </h5>
              </p>
              <ul>
                <li>You agree to comply and not violate them at all times while using our Site or Service.
                </li>
                <li> You further declare that in case of violation or non-compliance you will alone be
                  responsible for all acts, deeds and that you alone will be liable for any liability. 
                </li>
              </ul>
              <p>
                We may terminate your account for violating one or more of your responsibilities, for violating
                applicable law, any other provision in this Agreement, or for any other lawful purpose or at our
                discretion, with or without notice.
              </p>

            </div>

          </div>
          <div>
            <p>
            <h4> 2.2.Limitations on liability</h4>
            </p>
            <p>The site is a public site with free access and we assume no liability for the quality and genuineness
              of Content. </p>

            <div>
              <p>
              <h5>1.We undertake no liability for free services.</h5>
              </p>

              <p>
              <h5>2.We will not be responsible in any way for failure of any technology. All is on a best effort
                basis and we assume no liability. </h5>
              </p>

              <p>
              <h5>3.Your ability to use our Site is a privilege, not a right, and we reserve the right to take any
                action that we deem proper, without notice, to prevent any violation, enforce any provision, or
                rectify any alleged violations, of this Agreement or any applicable law at our sole
                discretion.</h5>
              </p>
              <p>
              <h5>4.In no event shall we be liable for any indirect, incidental, special, exemplary, consequential
                damages arising out of or in connection with this Site or our Service. </h5>
              </p>

              <p>
              <h5>5.We take no responsibility and assume no liability for any claim, action, petition, demand for
                arbitration or lawsuit alleging injury or damage resulting from any use of the Site or
                Service. </h5>
              </p>
              <p>
              <h5>6.With regards to the Content available on our Site or Service -</h5>
              </p>
              <ul>
                <li>We will not be liable on account of any inaccuracy of Content. It is the sole responsibility
                  of the visitor to check, authenticate and verify the Content on the site.
                </li>
                <li>We do not guarantee confidentiality of Content by any individual or legal entity having
                  direct or indirect access to the Content on our Site and Service.
                </li>
                <li>We would not be held liable for loss of any data due to reasons like corruption of data or
                  delay or failure to perform as a result of any causes or conditions that are beyond our
                  reasonable control.
                </li>
                <li>We take no responsibility and assume no liability for any Content that is posted, stored,
                  uploaded, or transmitted via the Site or the Service, or for any loss or damages that may
                  occur because of such Content;
                </li>
                <li>We are not liable under any circumstances to any User for any Content submitted, posted or
                  transmitted by any other User, even if that Content violates this Agreement or other
                  policies stated anywhere on our Site, and we take no action to remove that Content or
                  terminate that User’s account;
                </li>
                <li>We are not required to or under any obligation to review, screen, edit, monitor, or remove
                  any Content posted on our Site, although we reserve the absolute right to do so at any time
                  and for any reason without any notice;
                </li>
              </ul>
              <p>
              <h5>7.We are not liable for any contracts or agreements created between Candidates, Employers and
                Contract Partner who use our Site and Service. We are not liable for, or obligated to enforce,
                any agreements or contract between a Contract Partner, Employer and a Candidate. You will not
                consider us, nor will we be construed as, a party to such transactions, whether or not we
                receive some form of remuneration in connection with the transaction, and we will not be liable
                for any costs or damages arising out of or related to such transaction.</h5>
              </p>
              <p>
              <h5>8.No contractual obligations are created for either the Candidate or the Employer through the
                use of the Service.</h5>
              </p>

            </div>

          </div>
          <div>
            <p>
            <h4> 2.3.Licensing to us</h4>
            </p>
            <p>You hereby grant to us and our representatives, affiliates, licensors and assigns a world-wide,
              universal, non-exclusive, royalty-free, transferable license to display, distribute, store,
              broadcast/transmit, reproduce, modify, prepare derivative works and otherwise use and reuse all or
              any part of your Content through our Site and Service.
            </p>
          </div>
          <div>
            <p>
            <h4> 2.4.Disclaimer of Warranties</h4>
            </p>
            <p>
              The information from or through this site is provided on "as is" basis, and all warranties,
              expressed or implied of any kind, regarding any matter pertaining to any service, including without
              limitation, the implied warranties, fitness for a particular purpose, and non-infringement are
              disclaimed and excluded. All the contents of this Site are only for general information or use. They
              do not constitute advice and should not be relied upon in making any decision. Any specific advice
              or replies to queries in any part of the Site is/are the personal opinion of such
              experts/consultants/persons and are not subscribed to by this Site. Certain links on the Site lead
              to resources located on servers maintained by third parties over whom we have no control or
              connection, business or otherwise as these sites are external to us. We neither endorse nor offer
              any judgment or warranty and accept no responsibility or liability for the authenticity or
              availability of any of the goods or services or for any damage, loss or harm, direct or
              consequential or any violation of local or international laws that may be incurred by your use of
              these sites. 
            </p>
          </div>
          <div>
            <p>
            <h4> 2.5.Indemnity</h4>
            </p>
            <p>You agree to defend, indemnify and hold us harmless from and against any and all claims, obligations,
              damages, losses, liabilities, costs, and expenses (including, but not limited to attorney's fees)
              arising from -</p>

            <div>
              <p>
              <h5>1.Your use of and access to the Site and Service;</h5>
              </p>

              <p>
              <h5>2.your violation of this Agreement; </h5>
              </p>

              <p>
              <h5>3.your violation of any third party right, including without limitation any copyright, property,
                or privacy right; or</h5>
              </p>
              <p>
              <h5>4.any claim that any of your Content caused damage to a third party. </h5>
              </p>

              <p>
              <h5>5.You also agree that you have a duty to defend us against any claims. You agree that this
                indemnity extends to requiring you to pay for our reasonable attorneys’ fees, court costs,
                settlements and disbursements. </h5>
              </p>

            </div>

          </div>
          <div>
            <p>
            <h4> 2.6.Choice of Law</h4>
            </p>
            <p>This Agreement shall be governed by the Laws of India. The Courts of law at Bengaluru shall have
              exclusive jurisdiction over any disputes arising under this agreement.</p>
          </div>
          <div>
            <p>
            <h4> 2.7.Force Majeure</h4>
            </p>
            <p>You agree that we are not responsible to you for anything that is the result of events beyond our
              control, including, but not limited to, acts of God, war, riots, terrorism, crime, communication
              disruption, failure or shortage of infrastructure, shortage of materials, or any other event beyond
              our control.</p>
          </div>
          <div>
            <p>
            <h4> 2.8.Termination</h4>
            </p>
            <p>We may terminate your account, Services in part or full, this Agreement at our discretion without
              explanation and notice, though we will strive to provide a timely explanation in most cases. If you
              wish to terminate this Agreement, you may do so by notifying us at any time and closing your account
              for the Service. Your notice should be sent in writing, or through email communication acknowledged
              by us. Termination of the Agreement may result in the immediate deletion of any Content that you
              have submitted to us. We will not have any liability whatsoever to you for any suspension or
              termination, including for deletion of your Content. All provisions of this Agreement which by their
              nature should survive termination shall survive termination.</p>
          </div>
          <div>
            <p>
            <h4> 2.9.Assignment</h4>
            </p>
            <p>You may not assign your rights and/or obligations under this Agreement to any other party without our
              prior written consent. We may assign our rights and/or obligations under this Agreement to any other
              party at our discretion.</p>
          </div>
          <div>
            <p>
            <h4> 2.10.Entire Agreement</h4>
            </p>
            <p>This Agreement is the final, complete and exclusive agreement of the parties with respect to the
              subject matter hereof and supersedes all prior discussions between the parties.</p>
          </div>
          <div>
            <p>
            <h4> 2.11.Electronic Communications</h4>
            </p>
            <p>The communications between you and us may use electronic means, including but not limited to visiting
              the Site, sending and receiving e-mails. You consent to receive communications from us in an
              electronic form; and agree that all terms, conditions, agreements, notices, disclosures, and other
              communications that we provide to you electronically satisfy any legal requirement in exactly
              similar capacity as in writing.</p>
          </div>

        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <h2>3.Terms for Candidates</h2>

          <div>
            <p>
            <h4>3.1 Description of Service</h4>
            </p>
            <p>We offer internet based service that connects Candidates with Employers for niche and nimble hiring
              requirements. This is done through a non-binding interview with exclusive and unique hiring process.
              As a Candidate, you have an opportunity to find employment with an Employer with complete
              transparency about your role and compensation in each interview request. Additionally, your use of
              our Service is free, and the interview process is non-binding and does not create any contractual
              obligations between the Employer and the Candidate.</p>
          </div>
          <div>
            <p>
            <h4>3.2 Registration</h4>
            </p>
            <p>You must register and create a profile in order to use our Service as a Candidate. When registering
              with us, we may require you to provide us information such as your name, e-mail address, employment
              history, work experience and skill set. Furthermore, you agree to provide us with any other
              identifying documents that we may request. We may also allow you to use a third party service such
              as LinkedIn, google+ to register. We will review the information that you provide to us during the
              registration process and any subsequent updates you make. We reserve the right, in our sole
              discretion, to accept or reject your registration with us to use our Site and Service. If your
              registration is accepted, you will be allowed to use our Site and Service.
            </p>
          </div>
          <div>
            <p>
            <h4>3.3.Interview Process</h4>
            </p>
            <p>After a Candidate has registered and created a profile on our Site, he will be contacted by our
              support team to verify and/or update the profile in line with our needs to expedite the hiring
              process. The candidates will receive communication from our qualified support team with the list of
              interested Employers and jobs through the Service. Candidates are solely responsible for choosing
              their preference. Employers will then have the opportunity to engage with Candidates. Our Support
              team will facilitate the interview process between the Candidates and Employers and make the process
              as seamless as possible. All interviews between Employers and the Candidates through our Site and
              Service are non-binding. The Candidate agrees not to attempt to circumvent our Site and Service by
              independently attempting to communicate with an Employer that contacted or communicated with him or
              her on our Site or Service.
            </p>
          </div>
          <div>
            <p>
            <h4>3.4.Post Interview</h4>
            </p>
            <div>
              <p>
              <h5> 1.The Candidate is required to promptly notify us within a week if</h5>
              </p>
              <ul>
                <li>They accept an offer of employment (an “Offer”), whether for a permanent position (infinite
                  period) or temporary position (finite period) from an Employer who identified the Candidate
                  through the use of our Site or Service.
                </li>
                <li>The Employer must use us for any Candidates formerly provided through us within 180 days
                  after the end of any temporary or permanent employment.
                </li>
                <li>They accept and join any new Offer from an Employer formerly employed you through us within
                  180 days after end of such employment.
                </li>
                <li>They, or the Employer elect not to begin the employment relationship as per the accepted
                  Offer before the Start Date.
                </li>
                <li>Either the Employer or Candidate terminates the permanent or temporary employment -
                  <ul>
                    <li>based on unsatisfactory performance or for your convenience within ninety (90) days
                      of the date on which your Employment commenced.
                    </li>
                    <li>for any reason after ninety (90) days of the date on which your Employment
                      commenced.
                    </li>
                  </ul>
                </li>
              </ul>

            </div>
            <div>
              <p>
              <h5> 2.The Candidate agrees that </h5>
              </p>
              <ul>

                <li>if you receive and accept an Offer, you shall promptly notify us of your Start Date and the
                  key terms of such Offer. Also, notify us promptly should that Start Date or offer terms
                  change at any time.
                </li>
                <li>you shall share with us a copy of a fully executed Offer for Permanent employment.
                </li>
                <li>for temporary employment, you shall execute an offer of employment with our Contract Partner
                  that states material employment terms, including, among other things, Start Date and
                  compensation, as requested by us.
                </li>
              </ul>
            </div>
            <div>

              <p>
              <h5>3.Subject to the Candidates complying with the terms of this Agreement and upon completion of
                three months of employment with the Employer, we will pay the Candidates Joining Fee no later
                than 120 days after the start date of the Candidate with an Employer.</h5></p>
            </div>
            <div>
              <p>
              <h5>4.You will not be eligible for Joining Fee from us, if </h5>
              </p>
              <ul>
                <li>Employer hires a Candidate and terminates the Candidate’s employment based on unsatisfactory
                  performance within ninety (90) days of the Start Date,
                </li>
                <li>Candidate voluntarily terminates his or her employment within ninety (90) days of the Start
                  Date
                </li>
                <li>Candidate does not start employment because either Employer or Prospective Employer elects
                  not to begin the employment engagement.
                </li>
              </ul>

            </div>
            <div>

              <p>
              <h5>5.If you have received the Joining Fee from us, although you are not eligible for Joining Fee
                for the above mentioned reasons, you shall promptly return that Joining Fee to us within 30 days
                of receiving the notification from us.</h5></p>
            </div>
            <div>

              <p>
              <h5>6.The Joining Fee will be calculated and paid based on the following calculations – </h5></p>
              <ul>
                <li>For permanent employment
                  <ul>
                    <li>Joining Fee of Indian Rupees 10,000, if your annual Gross Salary is greater than
                      Indian Rupees 3,00,000 and less than or equal to Indian Rupees 5,00,000
                    </li>
                    <li>Joining Fee of Indian Rupees 20,000, if your annual Gross Salary is greater than
                      Indian Rupees 5,00,000 and less than or equal to Indian Rupees 10,00,000
                    </li>
                    <li>Joining Fee of Indian Rupees 30,000, if your annual Gross Salary is greater than
                      Indian Rupees 10,00,000 and less than or equal to Indian Rupees 20,00,000
                    </li>
                    <li>Joining Fee of Indian Rupees 40,000, if your Gross Salary is greater than Indian
                      Rupees 20,00,000 and less than or equal to Indian Rupees 35,00,000
                    </li>
                    <li>Joining Fee 1of Indian Rupees 50,000, if your Gross Salary is greater than Indian
                      Rupees 35,00,000 and above
                    </li>
                  </ul>
                </li>
                <li>For temporary employment
                  <ul>
                    <li>Joining Fee of Indian Rupees 10,000, if your monthly Gross Salary is greater than
                      Indian
                      Rupees 30,000 and less than or equal to Indian Rupees 50,000
                    </li>
                    <li>Joining Fee of Indian Rupees 20,000, if your monthly Gross Salary is greater than
                      Indian
                      Rupees 50,000 and less than or equal to Indian Rupees 1,00,000
                    </li>
                    <li>Joining Fee of Indian Rupees 30,000, if your monthly Gross Salary is greater than
                      Indian
                      Rupees 1,00,000 and less than or equal to Indian Rupees 1,50,000
                    </li>
                    <li>Joining Fee of Indian Rupees 40,000, if your monthly Gross Salary is greater than
                      Indian
                      Rupees 1,50,000 and less than or equal to Indian Rupees 2,00,000
                    </li>
                    <li>Joining Fee of Indian Rupees 50,000, if your monthly Gross Salary is greater than
                      Indian
                      Rupees 2,00,000 and above
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
            <div>

              <p>
              <h5>7.We reserve the right at any time to change the Joining Fee (including to begin charging for
                services that it is currently providing free of charge), billing and payment methods,
                immediately upon posting updated Terms of Service on the Site. Changes to Joining Fee will be
                applicable for the Candidates employed (with Start Date of employment) after the effective date
                of revised Terms of Service.</h5></p>
            </div>

          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h2>4.Terms for Employers</h2>

          <div>
            <p>
            <h4>4.1.Description of Service</h4>
            </p>
            <p>As an Employer, you have the opportunity to find qualified Candidates and reduce the costs and time
              involved with employing and retaining such talent. You may interview request for interview with any
              Candidate on our Service that you feel may be a fit for your company and the job. However, these
              Requests are non-binding. A Success Fee will only be collected from you in accordance with this
              Agreement after you have successfully employed a Candidate. As highlighted earlier in the Terms, we
              do
              not inquire into the background of the Candidates or attempt to verify the statement of its
              Candidates.
              We reserve the right to conduct any background check or other screening at any time using available
              public records. You are responsible for conducting any background check, reference check or other
              due
              diligence that may require before making an offer of employment, either for permanent or temporary
              placement. You are also responsible for complying with all laws and regulations relating to the
              intended
              permanent or temporary employment of any Candidate.
            </p>

          </div>
          <div>
            <p>
            <h4>4.2.Registration</h4>
            </p>
            <p>You must register with us in order to use our Service. Registration is free. When registering we may
              ask
              you for additional information related to your company and the types of Candidate you are looking
              for.
              We
              may also allow you to use a third party service to register. We will review the information that you
              provided to us during the registration process and any other information that is publicly available.
              We
              reserve the right, in our sole discretion, to accept or reject your registration to use our Site and
              Service. If your registration is accepted, you will be allowed to engage with, and make Requests to,
              Candidates that have posted their profiles on our Site.
            </p>

          </div>
          <div>
            <p>
            <h4>4.3.Interview Process</h4>
            </p>
            <p>
              After an Employer’s registration has been accepted by us, the Employer will be able to submit their
              job
              requirements on our Site, communicate anonymously with these Candidates, and submit preliminary
              non-binding interview requests. If an Employer hires a Candidate from our Site or Service, the
              Employer
              will pay us Success Fee.
              Once an Employer has discovered a Candidate on our Site or Service, the Employer agrees to
              communicate
              exclusively with the Candidate through our Site and Service for the duration of the interview
              process.
              The Employer and the Candidate may use other means of communication during the hiring process. The
              Employer agrees not to attempt to circumvent our Site and Service by independently attempting to
              communicate and employ the Candidate through alternative means after discovering the Candidate on
              our
              Site or Service.</p>

          </div>
          <div>
            <p>
            <h4>4.4 Post Interview</h4>
            </p>
            <p>If a Candidate identified through use of our Site or Service accepts an Offer, the Employer will be
              charged a Success Fee. </p>

            <div>
              <p>
              <h4>1.Success Fee for Permanent Employment.</h4> In the case of permanent employment, the
              Employer
              will pay one-time upfront Success Fee equal to 12.5% of the Candidate’s first year gross salary,
              which
              amount shall be due and payable thirty (30) days after the Start Date. Taxes will be applicable in
              addition to the above Success Fee.
              </p>
              <p>
              <h4>2.Success Fee for Temporary Employment.</h4> In the case of a temporary employment, the
              Employer
              shall pay a Success Fee equal to 20% (for greater than 6 months term initial commitment) and 25%
              (for
              less than or equal to 6 months term initial commitment) of the Candidate’s monthly salary. Taxes
              will be
              applicable in addition to the above Success Fee. We partner with Tekskills (“Contract Partner”) to
              manage all temporary employments. Contract Partner operates as the Employer of record for all
              Candidates
              employed on temporary employment with the Employer. Contract Partner shall be responsible and
              management
              of Candidate compensation, payroll and taxes and insurance. Employer will not pay Candidates
              directly
              for temporary employment. Candidates will work under the supervision and direction of the Employer.
              The
              Employer will pay the Contract Partner on a monthly basis, against the invoices raised by the
              Contract
              Partner towards the end of the month within thirty (30) days from the date of invoice submission.
              </p>
              <p>
              <h4>3.Success Fee for Conversion from Temporary Employment to Permanent Employment.</h4> For any
              given Candidate, the Employer will be eligible to convert a temporary employment contract to
              permanent
              employment contract after 3 months of successful completion of the temporary employment by the
              Candidate
              with the Employer. Employer pays an upfront Success Fee for converting a temporary employment to
              permanent employment at the time of conversion, which will be paid within 30 days from the date of
              conversion. The upfront Success Fee will be
              </p>
              <ul>
                <li>12.5% of the gross annual salary of the Candidate if converted after 3 months of temporary
                  placement and before 6 months of temporary placement from its Start Date.
                </li>
                <li>10% of the gross annual salary of the Candidate if converted after 6 months of temporary
                  placement and before 12 months of temporary placement from its Start Date.
                </li>
                <li>5% of the gross annual salary of the Candidate if converted after 12 months of temporary
                  placement and before 24 months of temporary placement from its Start Date.
                </li>
                <li>No fee if converted after 24 months of temporary placement from its Start Date.
                </li>
                <li>Taxes will be applicable in addition to the above Success Fee.
                </li>

              </ul>
              <p>
                4.Employers shall promptly notify us once a Candidate has accepted an Offer and notify us of the
                Start
                Date, including prompt notification of any subsequent changes in such Start Date.
              </p>

              <p>
                5.Employers shall provide us with
              </p>
              <ul>
                <li>a copy of a fully executed Offer, or
                </li>
                <li>contract between Employer and Contract Partner
                </li>
                <li>In the event that before the Start Date, either Employer or Candidate choose not to begin
                  the
                  employment relationship, Employer shall promptly notify us.
                </li>
              </ul>
              <p>6.For all temporary employment, the Employer shall approve all electronic timesheets submitted by
                Candidates within 24 hours of submission by the Candidate or us. It is understood and agreed
                that
                Employer’s failure to edit, dispute or correct a timesheet within 24 hours of the submission
                shall
                constitute approval of that timesheet and agreement to pay for the time reported.</p>

              <p>7.The Employer must use us for any Candidates formerly provided through us within 180 days after
                the
                end of any temporary or permanent employment.</p>

              <p>8.If an Employer circumvents our Site and Service after discovering a Candidate through our Site
                or
                Service and subsequently employs that Candidate, the Employer will be billed a success fee equal
                to
                20% of the 1st year gross salary of the Candidate and we may, at our sole discretion, terminate
                the
                Employer’s account.</p>

              <p>9.We value our customer’s satisfaction in using our Site and Service to hire suitable
                Candidates.</p>

              <p>10.We will fully refund to the Employer any upfront Success Fee paid to us, if -
              <ul>
                <li>Employer hires a Candidate and terminates the Candidate’s employment based on unsatisfactory
                  performance within ninety (90) days of the Start Date,
                </li>
                <li>Candidate voluntarily terminates his or her employment within ninety (90) days of the Start
                  Date
                </li>
                <li>Candidate does not start employment because either Employer or Prospective Employer elects
                  not
                  to begin the employment engagement.
                </li>
                <li>Instead of refund from us, Employer may choose to find a suitable Candidate through the use
                  of
                  our Site or Service to replace the Candidate terminated.
                </li>
              </ul>
              </p><p>11.In the event that the Employer terminates a temporary employment, no refund shall be made
              to
              the Employer. However, the Employer need not pay future monthly Success Fees as on the date when
              Candidate’s employment terminates. Additionally, Employer may choose to hire an alternative
              Candidate on
              temporary employment through the use of our Site or Service at no additional cost. The monthly
              Success
              Fee for the new Candidate replacing the terminated Candidate will be as per the new Success Fee
              based on
              his or her salary arrangements and the Start Date.
            </p>

              <p> 12.We reserve the right at any time to change the Success Fees (including to begin charging for
                services that it is currently providing free of charge), billing and payment methods, either
                immediately upon posting updated Terms of Service on the Site. Changes to Success Fees will be
                communicated to the Employers through email communication in advance of implementing the
                changes,
                and will be applicable for the Candidates employed (with Start Date of employment) after the
                effective date of revised Terms of Service.</p>
            </div>

          </div>
        </div>

      </div>


    </div>





  </ion-content>
</ion-view>

