<ion-view ng-init="vm.editrecord('education')">
  <ion-content scroll="false">
    <ion-header-bar align-title="center" class="bar-positive">
      <button class="button icon-left ion-chevron-left button-clear" ui-sref="profile.edit" ng-click="vm.backprofile('education')">
        Back
      </button>
      <h1 class="title">My Profile</h1>
      <button ng-if="vm.index === ''" class="icon-left button button-positive" ng-click="vm.saveskills('education')">Save
      </button>
      <button ng-if="vm.index !== ''" class="icon-left button button-positive"
              ng-click="vm.updateSkill(vm.index,'education')">Update
      </button>

    </ion-header-bar>

    <div class="list padding" style="margin-top: 14%;">
      <div class="item item-divider">
        Education
      </div>
      <label class="item item-input">
        <input type="text" placeholder="Degree" ng-model="vm.degree">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Score in Percent" ng-model="vm.minscore">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Year of Pass" ng-model="vm.passedYear">
      </label>
    </div>
  </ion-content>
</ion-view>
