<ion-view title="welcome" hide-nav-bar="true" id="page6">
  <ion-content padding="false" class=" manual-remove-top-padding" scroll="false">
    <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider1" delegate-handle="slider1" id="welcome-slider1" style="width:100%;height:100%;">
      <ion-slide-page id="welcome-slide24" style="background:url(&quot;img/wn90ciUlQVGhxc6zMJry_Doctor1.jpeg&quot;) no-repeat center center ;background-size:cover;background-color:#0FB3AC;" class="padding">
        <div style="display:table;width:100%;height:100%;">
          <div style="display:table-row;">
            <div style="display:table-cell;vertical-align:middle;">
              <div class="spacer" style="width: 300px; height: 245px;"></div>
              <h2 id="welcome-heading10" style="color:#000000;text-align:center;">Locum Simplified</h2>
              <div id="welcome-markdown1" style="text-align:center;" class="show-list-numbers-and-dots">
                <p style="color:#000000;">Quick registration-access to loads of jobs seamless interaction with hospitals-instant payment</p>
              </div>
              <div id="welcome-button-bar2" class="button-bar">
                <a ui-sref="authentication.signup" id="welcome-button15" style="border-radius:5px 5px 5px 5px;" class="button button-energized  button-block">Sign up</a>
                &nbsp;<a ui-sref="authentication.signin" id="welcome-button17" class="button button-balanced  button-block">Sign in</a>
              </div>
            </div>
          </div>
        </div>
      </ion-slide-page>
      <ion-slide-page id="welcome-slide29" style="background:url(&quot;img/8LZHQEo8TDWv1zpHb3Kp_doctor8.jpeg&quot;) no-repeat center center;background-size:cover;background-color:#767FC0;" class="padding">
        <div style="display:table;width:100%;height:100%;">
          <div style="display:table-row;">
            <div style="display:table-cell;vertical-align:middle;">
              <div class="spacer" style="width: 300px; height: 278px;"></div>
              <h3 id="welcome-heading13" style="color:#000000;text-align:center;">Incentives Maximised</h3>
              <div id="welcome-markdown5" style="text-align:center;" class="show-list-numbers-and-dots">
                <p style="color:#000000;">Maximise your
                  <strong>incentives</strong> through our wide network of hospitals and best in class rate</p>
              </div>
              <div id="welcome-button-bar4" class="button-bar">
                <a ui-sref="authentication.signup" id="welcome-button21" class="button button-energized  button-block">Sign up</a>
                &nbsp;<a ui-sref="authentication.signin" id="welcome-button23" class="button button-balanced  button-block">Sign in</a>
              </div>
            </div>
          </div>
        </div>
      </ion-slide-page>
      <ion-slide-page id="welcome-slide210" style="background:url(&quot;img/Ol3WMtvpRhKFIoEVQNFj_doctor3.jpeg&quot;) no-repeat center center;background-size:cover;background-color:#D36788;" class="padding">
        <div style="display:table;width:100%;height:100%;">
          <div style="display:table-row;">
            <div style="display:table-cell;vertical-align:middle;">
              <div class="spacer" style="width: 300px; height: 264px;"></div>
              <h3 id="welcome-heading14" style="color:#000000;text-align:center;">Get Rewarded</h3>
              <div id="welcome-markdown6" style="text-align:center;" class="show-list-numbers-and-dots">
                <p style="color:#000000;">Introduce your friend and get
                  <strong>rewarded</strong> when tour friends join us</p>
              </div>
              <div id="welcome-button-bar3" class="button-bar">
                <a ui-sref="authentication.signup" id="welcome-button18" style="border-radius:-51px -51px -51px -51px;" class="button button-energized  button-block">Sign up</a>
                &nbsp;<a ui-sref="authentication.signin" id="welcome-button20" class="button button-balanced  button-block">Sign in</a>
              </div>
            </div>
          </div>
        </div>
      </ion-slide-page>
    </ion-slides>
  </ion-content>
</ion-view>
